@media (max-width: 992px){

    .secao-com-texto {
        padding: 153px 25px;
    }
    .secao-com-texto p,
    .secao-com-texto.onde-estamos p{
        width: 100%;
    }

}

@media (max-width: 768px){
    .ladrilho .ladrilho-grande, 
    .ladrilho .ladrilho-medio{
        width: 100%;
    }
    .ladrilho .ladrilho-xicara,
    .ladrilho .ladrilho-cafe{
        width: 50%;
    }

    .contato{
        background-image: none;
        background-color: rgb(212, 171, 67);
    }
    .contato .texto{
        position: relative;
        text-align: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .contato .texto h2{
        margin: 0px 0px 45px;
    }
}

@media (max-width: 728px){
    .rodape{
        text-align: center;
        background-image: none;
        background-color: black;
    }

    .rodape .logo{
        display: block;
    }
    .rodape ul{
        display: block;
        width: 100%;
        margin-bottom: 122px;
    }
    .rodape ul li{
        display: block;
    }
    .rodape ul li a{
        font-size: 2rem;
    }
    .rodape .conteudo-de-baixo .redes-sociais{
        float: none;
        margin-bottom:28px ;
    }
}

@media (max-width: 425px){
    .cabecalho .logo{
        display: block;
        margin: 0 auto;
    }
    .cabecalho nav{
        position: static;
        text-align: center;
        width: 100%;
    }

    .cabecalho nav ul li{
        display: block;
    }

    .cabecalho nav ul li a{
        width: 100%;
        display: block;
    }

    .painel h2{
        font-size: 2.5rem;
    } 

    .secao-com-texto h2{
        font-size: 3rem;
    }

    .secao-com-texto p,
    .secao-com-texto.onde-estamos p{
        font-size: 2rem;
    }
}

@media (max-width: 358px){

    .ladrilho .ladrilho-grande, 
    .ladrilho .ladrilho-medio{
        width: 100%;
    }
    .ladrilho .ladrilho-xicara,
    .ladrilho .ladrilho-cafe{
        width: 100%;
    }
}
